.header {
  padding: 5px 10px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh
}

.header a {
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
}

.reactflow-container {
  width: 100vw;
  height: 95vh;
}

.header .app-title {
  font-size: 1.2em;
  font-weight: bold;
}

.header .nav {
  display: flex;
}

.header .nav-item {
  margin: 5px 7px;
}

.header .person-item:hover {
  filter: brightness(0.9);
}

.header .profile-menu-trigger {
  font-weight: 100;
  text-wrap: nowrap;
  cursor: pointer;
}

.header .nav-item .avatar {
  border: 3px solid;
}

.header .profile-menu-trigger:hover {
  filter: brightness(0.9)
}

.header .profile-menu-space {
  background-color: #3e3e3e;
  padding: 5px 10px 5px 5px;
  border-radius: 30px;
  font-weight: bold;
}

.search-input {
  display: flex;
  background-color: #3e3e3e;
  padding: 5px;
  border-radius: 30px;
  align-items: center;
}

.search-input img {
  height: 1em;
  margin: 0 5px
}

.search-input input {
  display: block;
  background: transparent;
  color: white;
  border: none;
  height: 100%;
}

.search-input input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.search-input input::placeholder {
  color: #939393;
}

.item-node {
  background: white;
  color: black;
  padding: 7px 11px;
  position: relative;
  height: 100%;
  border-radius: 15px;
}

.item-node .item-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-node .item-title {
  margin-top: 0;
  font-size: 1em;
}

.item-node textarea {
  display: block;
  margin-top: 10px;
  border: none;
  width: 100%;
  resize: none;
  font-size: .9em;
  min-height: 100px;
  height: 80%;
}
