.header {
  padding: 5px 10px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
}

.reactflow-container {
  width: 100vw;
  height: 100vh;
}

.header .nav {
  display: flex;
}

.search-input {
  display: flex;
  background-color: #3e3e3e;
  padding: 5px;
}

.search-input img {
  height: 1em;
}

.search-input input {
  background: transparent;
  color: white;
  border: none;
}

.search-input input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.search-input input::placeholder {
  color: #939393;
}
